@media (max-width: 1439px){
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about{
        &__picture{
            margin-right: 50px;
        }
        &__descrp{
            width: 420px;
        }
        &__skills{
            grid-template-columns: repeat(1,275px);
        }
    }
    .expirience{
        &__wrapper{
            padding-left: 60px;
            padding-right: 0;
        }
        &__block-right__descrp{
            width: 330px;
        }
    }
    .skills{
        &__blocks{
            grid-template-columns: repeat(3,270px);
            grid-template-rows: repeat(3,270px);
            justify-content: center;
        }
        &__abilities{
            grid-template-columns: repeat(2,350px);
            grid-template-rows: repeat(3,70px);
            justify-content: center;
        }
    }
    .portfolio{
        &__blocks{
            grid-template-columns: repeat(3,280px);
            justify-content: center;
            .vertical, .horizontal{
                grid-row: auto;
                grid-column: auto;
            }
        }
    }
    .price{
        padding-left: 0;
        padding-right: 0;
        &__wrapper{
            grid-template-columns: repeat(2,370px);
            justify-content: center;
            column-gap: 85px;

        }
    }
    .contacts{
        &__picture{
            display: none;
        }
        &__policy{
            justify-content: center;
            &_text{
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about{
        &__picture{
            width: 300px;
            height: 350px;
        }
        &__descrp{
            width: 380px;
        }
    }
    .expirience{
        &__wrapper{
            padding: 0;
            grid-template-columns: repeat(2,355px);
        }
        &__block-left{
            &__header-block{
                margin-left: 65px;
            }
            &__subheader{
                margin-left: 65px;
            }
        }
        &__block-right{
            grid-template-columns: 350px;
            &__descrp {
            width: 300px;
            }
        }
    }
    .skills{
        &__blocks{
            grid-template-columns: repeat(2,270px);
            grid-template-rows: repeat(4,270px);
        }
    }
    .portfolio{
        &__blocks{
            grid-template-columns: repeat(2,280px);
        }
    }
    .price{
        &__wrapper {
            grid-template-columns: repeat(1,440px);
            grid-template-rows: repeat(2,250px);
            justify-content: center;
        }
        &__block{
            gap: 0;
        }
        &__item{
            grid-template-columns: repeat(2,auto);

        }
        &__header, &__cost {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    section {
        padding-top: 5px;
    }
    .tittle {
        margin-top: 46px;
    }
    .header {
        font-size: 24px;
    }
    .container {
        max-width: 100%;
    }
    .header-fs48{
        font-size: 35px;
        margin-top: 20px;
        line-height: 48px;
    }
    .menu {
        &__block {
            width: 260px;
        }
        &__list {
            padding-left: 20px;
        }
        &__link {
            &::before{
                left: -35px
            }
        }
    }
    .hamburger{
        right: 15px;
        top: 10px;
    }
    .bar-mobile{
        display: block;
    }
    .promo{
        background: url(../img/main_bg.jpg) no-repeat 26%/cover;
        .container{
            width: 80%;
        }
        .tittle {
            margin: 0;
        }
    }
    .about{
        padding-top: 0;
        .container{
            flex-direction: column;
        }
        &__block{
            margin-left: 14.5%;
        }
        &__picture {
            margin: 0 auto;
            width: 300px;
            height: 340px;
        }
        &__skills {
            grid-template-columns: repeat(1,275px);
        }
        &__descrp{
            width: 445px;
        }
    }
    .expirience {
        padding-bottom: 0;
        &__blocks-devider{
            display: none;
        }

        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(2,0);
            padding-left: 20%;
        }
        &__block-left{
            row-gap: 350px;
            &__devider{
                display: none;
            }
            &__header-block, &__subheader{
                margin-left: 0;
            }
            &__descrp{
                margin-right: 0;
                width: 280px;
            }
        }
        &__block-right{
            margin-top: 221px;
            row-gap: 350px;
            &__devider{
                display: none;
            }
            &__header-block{
                margin: 0;
            }
            &__subheader{
                margin-left: 48px;
            }
            &__descrp{
                margin-left: 0;
                width: 280px;
            }
        }
    }
    .skills{
        &__blocks{
            grid-template-columns: repeat(2,250px);
            grid-template-rows: repeat(4,270px);
            justify-content: center;
            gap: 35px;
        }
        &__abilities{
            grid-template-columns: repeat(1,80%);
            grid-template-rows: repeat(6,70px);
            row-gap: 60px;
        }
        &__ability{
            grid-template-columns: repeat(2,auto);
        }
    }
    .portfolio{
        padding-top: 0;
        &__blocks{
            grid-template-columns: repeat(2,260px);
            grid-template-rows: repeat(3,260px);
            gap: 20px;
            justify-content: center;
            .horizontal , .vertical{
                grid-column: auto;
                grid-row: auto;
            }
        }
    }
    .price{
        &__wrapper {
            grid-template-columns: repeat(1,275px);
            grid-template-rows: repeat(2,250px);
            justify-content: center;
        }
        &__block{
            gap: 0;
        }
        &__item{
            grid-template-columns: repeat(2,164px);

        }
        &__header, &__cost {
            font-size: 13px;
        }
    }
    .contacts{
        padding-top: 0;
        padding-bottom: 35px;
        .container {
            padding: 0 20px;
        }
        &__picture{
            display: none;
        }
        &__form{
            grid-template-columns: 100%;
            grid-template-rows: 45px 45px 190px 45px 45px;
            justify-content: center;
        }
        &__textarea{
            grid-column: auto;
        }
        &__policy{
            justify-content: center;
            &_text{
                margin-left: 10px;
            }
        }
    }
    .modal{
        &__block{
            width: 300px;
        }
        &__header{
            font-size: 18px;
        }
        &__subheader{
            font-size: 15px;
        }
    }
}

@media (max-width: 576px) {
    .header-fs48{
        font-size: 25px;
    }
    .promo{
        padding-top: 200px;
    }
    .about{
        &__skills {
            grid-template-columns: repeat(1,256px);
        }
        &__descrp{
            width: 235px;
        }
    }
    .expirience {
        &__block-left{
            &__descrp{
                width: 220px;
            }
        }
        &__block-right{
            grid-template-columns: 260px;
            &__item{
                width: 220px;
            }
            &__descrp{
                width: 230px;
            }
        }
    }
    .skills{
        &__blocks{
            grid-template-columns: repeat(1,270px);
            grid-template-rows: repeat(7,270px);
        }
    }
    .portfolio{
        &__blocks{
            grid-template-columns: repeat(1,280px);
            grid-template-rows: repeat(6,280px);
        }
    }
    .price{
        &__item{
            grid-template-columns: repeat(2,auto);
        }
    }
    .buttons{
        grid-template-columns: repeat(2,120px);
    }
}