.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 40;
    display: none;
    &_active{
        display: block;
    }
    &__block{
        position: absolute;
        display: block;
        width: 400px;
        height: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background: linear-gradient(0deg, rgba(17, 17, 17, 0.7) 0%, rgb(0, 0, 0) 100%), rgb(144, 2, 144);
        padding-top: 100px;
        border-radius: 10%;
        z-index: 11;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 16;
        cursor: pointer;
        &:hover {
            svg path{
                fill: #AF265D;
            }
        }
    }
    &__header {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    &__subheader {
        margin-top: 10px;
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    .overlay_modal{
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(15, 1, 15, 0.80);
        z-index: 9;
    }
}