.tittle{
    position: relative;
    margin-left: 10px;
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
    margin-bottom: 9px;
    @include before_circle;
    &-fs20 {
        font-size: 20px;
    }
    &_circle-center{
        @include center_circle;
    }
}


.header{
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    text-align: center;
    &-taLeft {
        text-align: left;
    }
    &-fs48{
        font-size: 48px;
        text-align: left;
    }
}

.devider{
    display: block;
    width: 60px;
    height: 3px;
    background-color: $main-color;
    border-radius: 10px;
    margin: 0 auto;
    &-m0 {
        margin: 0;
    }
}